<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
        

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/user">
                    <img class="img-responsive" alt="logo da prefeitura municipal de italva" th:src="@{/images/logo-italva.png}">
                </a>  
            </div>
                            
            <img class="navbar-right clearfix img-responsive img-cartao" th:src="@{/images/cartao-recomecar.png}"/>                
        </div>
    </nav>
</html>